.nav-bar{
  overflow: hidden;
}

.advanced-items {
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:flex-start;
  align-content: flex-end;
}

.large-button {
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-size: large;
  height:3em;
  color: white;
  background-color: var(--color-primary);
  align-self:flex-start;
}

.large-button.side {
  color: black;
  margin-bottom: 0.8em;
}