<div>
<mat-toolbar color="primary" class="nav-bar" [style.height]="advanced ? '190px' : '88px'" fxShow="true" fxHide.lt-md="true">

  <div >

    <div *ngIf="!advanced">
      <button mat-button mat-icon-button (click)="goHome()" style="margin-right: 10px;"><mat-icon>home</mat-icon></button>
      <mat-form-field class="research-field">
        <mat-label>Recherche</mat-label>
        <input matInput type="text" [(ngModel)]="searchVal" (keyup.enter)="search()">
        <button mat-button *ngIf="searchVal" matSuffix mat-icon-button aria-label="Clear" (click)="searchVal=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button [matMenuTriggerFor]="categoriesMenu" class = "large-button">Catégories <mat-icon>expand_more</mat-icon> </button>

      <button mat-raised-button (click)="toggleAdvanced()" class = "large-button">Recherche Avancée</button>
    </div>

    <div *ngIf="advanced" class = "advanced-items">
      <button mat-button mat-icon-button (click)="toggleAdvanced()" style="margin-right: 10px;"><mat-icon>arrow_back</mat-icon></button>

      <mat-form-field>
        <mat-label>Termes</mat-label>
        <input matInput type="text" [(ngModel)]="searchVal">
        <button mat-button *ngIf="searchVal" matSuffix mat-icon-button aria-label="Clear" (click)="searchVal=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button [matMenuTriggerFor]="categoriesMenu" class = "large-button">{{catTitle}} <mat-icon>expand_more</mat-icon> </button>
      <button mat-button mat-icon-button *ngIf="catTitle != 'Catégories'" (click)="catTitle = 'Catégories'" style="align-self:flex-start; margin-top: 1.5em;">
        <mat-icon>close</mat-icon>
      </button>

      <mat-form-field appearance="fill">
        <mat-label>Accessibilité</mat-label>
        <mat-select [(ngModel)]="accessibility" multiple>
          <mat-option [value]="'blind'"><mat-icon>visibility_off</mat-icon></mat-option>
          <mat-option [value]="'deaf'"><mat-icon>hearing_disabled</mat-icon></mat-option>
          <mat-option [value]="'pmr'"><mat-icon>accessible</mat-icon></mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Prix</mat-label>
        <mat-select [(ngModel)]="prix">
          <mat-option>---</mat-option>
          <mat-option [value]="'gratuit'">Gratuit</mat-option>
          <mat-option [value]="'payant'">Payant</mat-option>
          <mat-option [value]="'conso'">Conso</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Type d’Accès</mat-label>
        <mat-select [(ngModel)]="typeAcces">
          <mat-option>---</mat-option>
          <mat-option [value]="'reservation'">Reservation</mat-option>
          <mat-option [value]="'conseillee'">Conseillée</mat-option>
          <mat-option [value]="'libre'">Libre</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Arrondissement</mat-label>
        <mat-select [(ngModel)]="codePostal">
          <mat-option>---</mat-option>
          <mat-option *ngFor="let ard of listArondissements" [value]="75000 + ard">{{ard}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mots Clés</mat-label>
        <mat-select [(ngModel)]="tags" multiple>
          <mat-option *ngFor="let tag of listTags" [value]="tag">{{tag}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choisissez une date</mat-label>
        <input matInput [matDatepicker]="picker" (dateInput)="date =  $event.value" (dateChange)="date = $event.value">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon style="color: white;">event</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button (click)="advSearch()" class = "large-button">Rechercher</button>
    </div>
  </div>



</mat-toolbar>

<div fxShow="true" fxHide.gt-sm="true" style="background-color: #FAFAFA ;">
  <button mat-fab color="primary" class="example-icon" aria-label="icon-button" (click)="sidenav.toggle()" style="margin-bottom: 1em;">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<mat-sidenav-container fxFlexFill class="example-container">

  <mat-sidenav #sidenav fxLayout="column">
    <div fxLayout="column" *ngIf="!advanced">
      <button mat-button mat-icon-button (click)="goHome()" style="margin-right: 10px;"><mat-icon>home</mat-icon></button>
      <mat-form-field class="research-field">
        <mat-label>Recherche</mat-label>
        <input matInput type="text" [(ngModel)]="searchVal" (keyup.enter)="search()">
        <button mat-button *ngIf="searchVal" matSuffix mat-icon-button aria-label="Clear" (click)="searchVal=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button [matMenuTriggerFor]="categoriesMenu"  class = "large-button side">Catégories <mat-icon>expand_more</mat-icon> </button>

      <button mat-raised-button (click)="toggleAdvanced()"  class = "large-button side">Recherche Avancée</button>
    </div>

    <div fxLayout="column" *ngIf="advanced">
      <button mat-button mat-icon-button (click)="toggleAdvanced()" style="margin-right: 10px;"><mat-icon>arrow_back</mat-icon></button>

      <mat-form-field>
        <mat-label>Termes</mat-label>
        <input matInput type="text" [(ngModel)]="searchVal">
        <button mat-button *ngIf="searchVal" matSuffix mat-icon-button aria-label="Clear" (click)="searchVal=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button [matMenuTriggerFor]="categoriesMenu" class = "large-button side">{{catTitle}} <mat-icon>expand_more</mat-icon> </button>
      <button mat-button mat-icon-button *ngIf="catTitle != 'Catégories'" (click)="catTitle = 'Catégories'" style="align-self:flex-start; margin-top: 1.5em;">
        <mat-icon>close</mat-icon>
      </button>

      <mat-form-field appearance="fill">
        <mat-label>Accessibilité</mat-label>
        <mat-select [(ngModel)]="accessibility" multiple>
          <mat-option [value]="'blind'"><mat-icon>visibility_off</mat-icon></mat-option>
          <mat-option [value]="'deaf'"><mat-icon>hearing_disabled</mat-icon></mat-option>
          <mat-option [value]="'pmr'"><mat-icon>accessible</mat-icon></mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Prix</mat-label>
        <mat-select [(ngModel)]="prix">
          <mat-option>---</mat-option>
          <mat-option [value]="'gratuit'">Gratuit</mat-option>
          <mat-option [value]="'payant'">Payant</mat-option>
          <mat-option [value]="'conso'">Conso</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Type d’Accès</mat-label>
        <mat-select [(ngModel)]="typeAcces">
          <mat-option>---</mat-option>
          <mat-option [value]="'reservation'">Reservation</mat-option>
          <mat-option [value]="'conseillee'">Conseillée</mat-option>
          <mat-option [value]="'libre'">Libre</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Arrondissement</mat-label>
        <mat-select [(ngModel)]="codePostal">
          <mat-option>---</mat-option>
          <mat-option *ngFor="let ard of listArondissements" [value]="75000 + ard">{{ard}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mots Clés</mat-label>
        <mat-select [(ngModel)]="tags" multiple>
          <mat-option *ngFor="let tag of listTags" [value]="tag">{{tag}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choisissez une date</mat-label>
        <input matInput [matDatepicker]="picker" (dateInput)="date =  $event.value" (dateChange)="date = $event.value">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon style="color: black;">event</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button (click)="advSearch()" class = "large-button side">Rechercher</button>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<!--  MENUS DEFINITION  -->

<!--  Menu definition is static since the API has no straightforward way of fetching all categories for dinamic menu creation -->
<mat-menu #categoriesMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="clickCat('Animations ')" [matMenuTriggerFor]="AnimationsMenu">Animations</button>
  <button mat-menu-item (click)="clickCat('Concerts ')" [matMenuTriggerFor]="ConcertsMenu">Concerts</button>
  <button mat-menu-item (click)="clickCat('Événements ')" [matMenuTriggerFor]="EvenementsMenu">Événements</button>
  <button mat-menu-item (click)="clickCat('Expositions ')" [matMenuTriggerFor]="ExpositionsMenu">Expositions</button>
  <button mat-menu-item (click)="clickCat('Spectacles ')" [matMenuTriggerFor]="SpectaclesMenu">Spectacles</button>
</mat-menu>

<mat-menu #AnimationsMenu="matMenu" yPosition="below">
  <button (click)="clickCat('Animations -> Atelier / Cours')" mat-menu-item>Atelier / Cours</button>
  <button (click)="clickCat('Animations -> Balade')" mat-menu-item>Balade</button>
  <button (click)="clickCat('Animations -> Conférence / Débat')" mat-menu-item>Conférence / Débat</button>
  <button (click)="clickCat('Animations -> Lecture / Rencontre')" mat-menu-item>Lecture / Rencontre</button>
  <button (click)="clickCat('Animations -> Loisirs / Jeux')" mat-menu-item>Loisirs / Jeux</button>
  <button (click)="clickCat('Animations -> Stage')" mat-menu-item>Stage</button>
  <button (click)="clickCat('Animations -> Visite guidée')" mat-menu-item>Visite guidée</button>
</mat-menu>

<mat-menu #ConcertsMenu="matMenu" yPosition="below">
  <button (click)="clickCat('Concerts -> Chanson française')" mat-menu-item>Chanson Française</button>
  <button (click)="clickCat('Concerts -> Classique')"mat-menu-item>Classique</button>
  <button (click)="clickCat('Concerts -> Folk')"mat-menu-item>Folk</button>
  <button (click)="clickCat('Concerts -> Hip-Hop')"mat-menu-item>Hip-Hop</button>
  <button (click)="clickCat('Concerts -> Jazz')"mat-menu-item>Jazz</button>
  <button (click)="clickCat('Concerts -> Musiques du Monde')"mat-menu-item>Musiques du Monde</button>
  <button (click)="clickCat('Concerts -> Pop / Variété')"mat-menu-item>Pop / Variété</button>
  <button (click)="clickCat('Concerts -> Rock')"mat-menu-item>Rock</button>
  <button (click)="clickCat('Concerts -> Electronique')"mat-menu-item>Electronique</button>
</mat-menu>

<mat-menu #EvenementsMenu="matMenu" yPosition="below">
  <button (click)="clickCat('Événements -> Brocante / Marché')" mat-menu-item>Brocante / Marché</button>
  <button (click)="clickCat('Événements -> Festival / Cycle')" mat-menu-item>Festival / Cycle</button>
  <button (click)="clickCat('Événements -> Salon')" mat-menu-item>Salon</button>
  <button (click)="clickCat('Événements -> Soirée / Bal')" mat-menu-item>Soirée / Bal</button>
  <button (click)="clickCat('Événements -> Evénements sportifs')" mat-menu-item>Evénements sportifs</button>
</mat-menu>

<mat-menu #ExpositionsMenu="matMenu" yPosition="below">
  <button (click)="clickCat('Expositions -> Art Contemporain')" mat-menu-item>Art Contemporain</button>
  <button (click)="clickCat('Expositions -> Beaux-Arts')" mat-menu-item>Beaux-arts</button>
  <button (click)="clickCat('Expositions -> Design / Mode')" mat-menu-item>Design / Mode</button>
  <button (click)="clickCat('Expositions -> Histoire / Civilisations')" mat-menu-item>Histoire / Civilisations</button>
  <button (click)="clickCat('Expositions -> Illustration / BD')" mat-menu-item>Illustration / BD</button>
  <button (click)="clickCat('Expositions -> Photographie')" mat-menu-item>Photographie</button>
  <button (click)="clickCat('Expositions -> Sciences / Techniques')" mat-menu-item>Sciences / Techniques</button>
  <button (click)="clickCat('Expositions -> Street-art')" mat-menu-item>Street-art</button>
</mat-menu>

<mat-menu #SpectaclesMenu="matMenu" yPosition="below">
  <button (click)="clickCat('Spectacles -> Cirque / Art de la Rue')" mat-menu-item>Cirque / Art de la Rue</button>
  <button (click)="clickCat('Spectacles -> Danse')" mat-menu-item>Danse</button>
  <button (click)="clickCat('Spectacles -> Humour')" mat-menu-item>Humour</button>
  <button (click)="clickCat('Spectacles -> Jeune public')" mat-menu-item>Jeune public</button>
  <button (click)="clickCat('Spectacles -> Opéra / Musical')" mat-menu-item>Opéra / Musical</button>
  <button (click)="clickCat('Spectacles -> Projection')" mat-menu-item>Projection</button>
  <button (click)="clickCat('Spectacles -> Théâtre')" mat-menu-item>Théâtre</button>
</mat-menu>
</div>
