<div class="c-article-details" *ngIf="detailedArticleToDisplay">
  <div class="c-article-details__wrapper-general">
    <mat-card class="article-details__event">
      <img src="{{detailedArticleToDisplay.cover_url}}" alt="{{detailedArticleToDisplay.cover_alt}}"/>
      <div class="article-details__event-description">
        <h1>{{detailedArticleToDisplay.title}}</h1>
        <p>{{detailedArticleToDisplay.lead_text}}</p>
      </div>
    </mat-card>

    <mat-card class="article-details__info">
      <h1>Info</h1>
      <p>{{detailedArticleToDisplay.address_street}}</p>
      <p>{{detailedArticleToDisplay.address_city}}</p>
<!--      todo change with date begin-->
      <p>{{detailedArticleToDisplay.date_end}}</p>
      <p>{{detailedArticleToDisplay.date_end}}</p>
    </mat-card>
  </div>

  <mat-card class="c-article-details__article">
    <p [innerHTML]="detailedArticleToDisplay.description">
    </p>
  </mat-card>

  <mat-card class="c-article-details__more">
    <div>
      <h1>Plus d'information</h1>
      <p *ngIf="detailedArticleToDisplay.contact_phone">Tel : {{detailedArticleToDisplay.contact_phone}}</p>
      <p *ngIf="detailedArticleToDisplay.contact_mail">Mail :  {{detailedArticleToDisplay.contact_mail}}</p>
      <p *ngIf="detailedArticleToDisplay.contact_url">Web :  {{detailedArticleToDisplay.contact_url}}</p>
      <p *ngIf="detailedArticleToDisplay.contact_facebook">Facebook :  {{detailedArticleToDisplay.contact_facebook}}</p>
      <p *ngIf="detailedArticleToDisplay.contact_twitter">Twitter :  {{detailedArticleToDisplay.contact_twitter}}</p>
    </div>
    <div>
      <h1>Comment y aller ?</h1>
      <p>{{detailedArticleToDisplay.transport}}</p>
    </div>
  </mat-card>
</div>
