<div class="c-article-details" *ngIf="detailedArticleToDisplay">
  <div class="c-article-details__wrapper-general">
    <mat-card class="article-details__event">
      <img src="{{detailedArticleToDisplay.cover_url}}" alt="{{detailedArticleToDisplay.cover_alt}}"/>
      <div class="article-details__event-description">
        <h1>{{detailedArticleToDisplay.title}}</h1>
        <p>{{detailedArticleToDisplay.lead_text}}</p>
      </div>
    </mat-card>

    <mat-card class="article-details__info">
      <h1>Info</h1>
      <p>{{detailedArticleToDisplay.address_street}}</p>
      <p>{{detailedArticleToDisplay.address_city}}</p>
      <p *ngIf="dateStart">Du: {{dateStart}}</p>
      <p *ngIf="dateEnd">Au: {{dateEnd}}</p>
    </mat-card>
  </div>

  <mat-card class="c-article-details__article">
    <p [innerHTML]="detailedArticleToDisplay.description">
    </p>
  </mat-card>

  <mat-card class="c-article-details__more">
    <div>
      <h1>Plus d'information</h1>
      <p *ngIf="detailedArticleToDisplay.contact_phone">Tel : <a href="tel:{{detailedArticleToDisplay.contact_phone}}">{{detailedArticleToDisplay.contact_phone}}</a></p>
      <p *ngIf="detailedArticleToDisplay.contact_mail">Mail :  <a href="mailto:{{detailedArticleToDisplay.contact_mail}}">{{detailedArticleToDisplay.contact_mail}}</a></p>
      <p *ngIf="detailedArticleToDisplay.contact_url">Web :  <a href="{{detailedArticleToDisplay.contact_url}}">{{detailedArticleToDisplay.contact_url}}</a></p>
      <p *ngIf="detailedArticleToDisplay.contact_facebook">Facebook :  <a href="{{detailedArticleToDisplay.contact_facebook}}">{{detailedArticleToDisplay.contact_facebook}}</a></p>
      <p *ngIf="detailedArticleToDisplay.contact_twitter">Twitter :  <a href="{{detailedArticleToDisplay.contact_twitter}}">{{detailedArticleToDisplay.contact_twitter}}</a></p>
    </div>
    <div *ngIf="detailedArticleToDisplay.transport">
      <h1>Comment y aller ?</h1>
      <p>{{detailedArticleToDisplay.transport}}</p>
    </div>
    <div *ngIf="accessibility" class="c-article-details__more-accessibility">
      <h1>Accessibilité</h1>
        <img src="assets/svg/deaf.svg" alt="deaf icon" *ngIf="detailedArticleToDisplay.deaf"/>
        <img src="assets/svg/blind.svg" alt="blind icon" *ngIf="detailedArticleToDisplay.blind"/>
        <img src="assets/svg/pmr.svg" alt="pmr icon" *ngIf="detailedArticleToDisplay.pmr"/>
    </div>
  </mat-card>
</div>
<div class="c-article-details" *ngIf="!detailedArticleToDisplay">
  <h1>Article non trouvé ! Retournez à <a routerLink="/">l'accueil</a></h1>
</div>
