/*Container*/
.c-article-details{
  padding: 3em 2em 2em 2em;
}

/*Container top*/
.c-article-details__wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.c-article-details__wrapper .article-details__info{
  flex-basis: 30%;
  margin-right: 12px;
}

.c-article-details__wrapper .article-details__event{
  flex-basis: 60%;
  margin-right: 12px;
}

/*Details (Photo + title + description)*/
.article-details__event{
  display: flex;
}

.article-details__event img{
    max-width: 15vw;
}

.article-details__event-description{
  margin-left: 8px;
}
