<div class="c-article-details">
  <div class="c-article-details__wrapper-general">
    <mat-card class="article-details__event">
      <img src="../../../assets/images/tour_eiffel.jpg">
      <div class="article-details__event-description">
        <h1>{{detailedArticleToDisplay.title}}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a metus sapien. Etiam vel velit ut turpis feugiat semper. Maecenas euismod iaculis dui, sit amet finibus est suscipit non. Quisque in tellus orci. Quisque aliquam mi efficitur erat rutrum, vitae congue risus fermentum. Morbi pretium urna non semper consequat</p>
      </div>
    </mat-card>

    <mat-card class="article-details__info">
      <h1>Info</h1>
      <p>Adresse</p>
      <p>Ville</p>
      <p>Date de début</p>
      <p>Date de fin</p>
    </mat-card>
  </div>

  <mat-card class="c-article-details__article">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a magna enim. Nam ornare accumsan venenatis. Morbi sollicitudin justo interdum est aliquet, in vulputate arcu rutrum. Maecenas viverra magna nibh, eget tempus tortor pharetra id. Aliquam vehicula sem vel dictum luctus. Etiam euismod orci sed nibh venenatis ultrices vel sed sapien. Vestibulum tortor elit, ultrices nec libero quis, interdum finibus nulla.

      Vivamus porttitor aliquam metus non placerat. Etiam arcu dolor, efficitur et justo sit amet, feugiat suscipit ipsum. Duis et lectus nec nulla rutrum lacinia vel at ex. Maecenas eget luctus velit. Sed ultrices lectus a lorem fringilla iaculis. Curabitur sit amet facilisis orci. Curabitur non nulla et dolor congue hendrerit. Proin est neque, iaculis sed arcu et, ultricies condimentum erat. Donec commodo rutrum ipsum, at dictum nulla molestie id.
    </p>
  </mat-card>

  <mat-card class="c-article-details__more">
    <div>
      <h1>How to go ?</h1>
      <p>fdsflkj</p>
      <p>fdsflkj</p>
      <p>fdsflkj</p>
    </div>
    <div>
      <h1>More info</h1>
      <p>06 12 34 56 78</p>
      <p>mail@mail.fr</p>
    </div>
  </mat-card>
</div>
