html {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)) no-repeat fixed;
}

.title {
  padding: 3em 2em 1em 2em;
}

.loading {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: large;
}

.loading>* {
  margin: 1em 4em 1em 4em;
}

fa-icon {
  font-size: xx-large;
}

.articles-container {
  padding: 1em 2em 2em 2em;
}

.articles-smaller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.article{
  margin: 1em;
}

.articles-smaller>.article {
  width: 35%;
  flex-grow: 1;
}

.article-content{
  display: flex;
  flex-wrap: wrap;
}

.article-summary{
  margin: 1em;
  flex-grow: 1;
}

.article-summary a{
  color: black;
  font-size: 16px;
}

.article-cover{
  display: flex;
  justify-content: center;
}

.article-cover img{
  width:auto;
  height: 300px;
  max-width: 500px;
}

.articles-smaller img{
  width:auto;
  height: 200px;
  max-width: 350px;
}

.article-accessibility > img{
  width: 2em;
  height: 2em;
}

.button-container {
  text-align: center;
  margin-top: 1em;
}

.article-description{
  margin: 1em;
  flex-grow: 1;
}

.article-description img{
  width: 150px;
  height: auto;
}


@media (min-width: 0px) and (max-width: 480px) {

  .article-content{
    flex-direction: column;
  }

  .article-cover img{
    width:auto;
    height: 100px;
  }

  .articles-smaller img{
    width:auto;
    height: 100px;
  }

  .article-accessibility > img{
    width: 1em;
    height: 1em;
  }
}

@media (min-width: 481px) and (max-width: 751px) {

  .article-cover img{
    width:auto;
    height: 150px;
  }

  .articles-smaller img{
    width:auto;
    height: 100px;
  }

  .article-accessibility > img{
    width: 1.5em;
    height: 1.5em;
  }
}

@media (max-width: 751px) {
  .article-description{
    display: none;
  }
}

@media (min-width: 752px) and (max-width: 1024px) {
  .article-cover img{
    width:auto;
    height: 200px;
  }

  .articles-smaller img{
    width:auto;
    height: 200px;
  }

  .article-accessibility > img{
    width: 1.5em;
    height: 1.5em;
  }
}

@media (max-width: 1200px) {
  .articles-smaller{
    flex-direction: column;
    flex-wrap: wrap;
  }

  .articles-smaller>.article {
    width: auto;
  }

  .article-main .article-content{
    display: flex;
    flex-direction: column;
  }

  .article-main .article-cover{
    padding-bottom: 3em;
  }
}
