.articles-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  background-repeat: no-repeat;
  padding: 3em 2em 2em 2em;
}

.articles-smaller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.article{
  margin: 1em;
}

.articles-smaller>.article {
  width: 35%;
  flex-grow: 1;
}

.article-content{
  display: flex;
  flex-wrap: nowrap;
}

.article-summary{
  margin: 0 1em;
  flex-grow: 1;
}

img{
  width:auto;
  /*max-width:300px;*/
  height: 200px;
}

.article-accessibility > img{
  width: 2em;
  height: 2em;
}

.button-container {
  text-align: center;
  margin-top: 1em;
}

.article-description{
  flex-grow: 1;
}

@media (min-width: 0px) and (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 1024px) {
  .articles-smaller{
    flex-direction: column;
  }

  .articles-smaller>.article {
    width: 96.5%;
  }
}
