<div class="articles-container" *ngIf="articles">
  <div class="article-main">
    <div class="article">
      <mat-card>
        <!--      TODO: Ideally, we should put the date, or from date to date
        also add other stuff, like price, etc.
        -->
        <div class="article-content">
          <div class="article-cover">
            <img src="{{articles[0].fields.cover_url}}" alt="{{articles[0].fields.cover_alt}}"/>
          </div>
          <div class="article-summary">
            <h1>{{articles[0].fields.title}}</h1>
            <p>{{articles[0].fields.address_street}}<br/>{{articles[0].fields.address_city}}</p>
            <p>End: {{articles[0].fields.date_end}}</p>
            <p>{{articles[0].fields.category}}</p>
            <div class="article-accessibility">
              <img src="assets/svg/deaf.svg" alt="deaf icon" *ngIf="articles[0].fields.deaf"/>
              <img src="assets/svg/blind.svg" alt="blind icon" *ngIf="articles[0].fields.blind"/>
              <img src="assets/svg/pmr.svg" alt="pmr icon" *ngIf="articles[0].fields.pmr"/>
            </div>
          </div>
          <div [innerHTML]="articles[0].fields.description" class="article-description">
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="articles-smaller">
    <div class="article" *ngFor="let article of articles!.slice(1)">
      <mat-card>
        <div class="article-content">
          <div class="article-cover">
            <img src="{{article.fields.cover_url}}" alt="{{article.fields.cover_alt}}"/>
          </div>
          <div class="article-summary">
            <h1>{{article.fields.title}}</h1>
            <p>{{article.fields.address_street}}<br/>{{article.fields.address_city}}</p>
            <p>End: {{article.fields.date_end}}</p>
            <p>{{article.fields.category}}</p>
            <div class="article-accessibility">
              <img src="assets/svg/deaf.svg" alt="deaf icon" *ngIf="article.fields.deaf"/>
              <img src="assets/svg/blind.svg" alt="blind icon" *ngIf="article.fields.blind"/>
              <img src="assets/svg/pmr.svg" alt="pmr icon" *ngIf="article.fields.pmr"/>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="button-container">
    <button mat-flat-button color="accent" >Load more article</button>
  </div>
</div>
